$("#comments_container").append("<div class='hidden'><%= escape_javascript render :partial => 'comment', :object => @comment%></div>")
$("#comments_container .well").parent().fadeIn(500)
$("form#new_comment")[0].reset()