container = $("#<%= escape_javascript @ncomment.comment.id.to_s %>").parent().find("#nested_comments_container");
container.find("#ncomments").append("<div class='hidden' id=<%= escape_javascript @ncomment.id.to_s%>><%= escape_javascript render :partial => 'ncomment', :object => @ncomment%></div>");
container.find(".hidden").fadeIn(500)
container.find("form")[0].reset();
$("#follow-post").html("Follower")