<% if current_user %><% if current_user == @post.user || current_user.email == 'joahd@gbergfamily.com' %>
<div id="hero-unit form">
<h1>Editing post</h1>

<%= render 'form' %>

</div>
<%else %>
<% redirect_to_home("You do not have permission to do this") %>
<%end%><%end%>