/*
 *= require_self
 *= require_tree .
 */

 /* CSS RESET */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style-type:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;}

/* END CSS RESET */

body {
	background-color: #015367;
	font-family: "Trebuchet MS"
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

#container {
	width: 800px;
	min-height: 660px;
	position: relative;
	background-color:#60b9ce;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}

#user_nav {
	background-color:#38b2ce;
	margin-bottom: 10px;
	width: 100%;
	margin-left: -1.25%;
	padding-right:1.25%;
	padding-left: 1.25%;
	padding-bottom: 3px;
	text-align: center;
}

header {
	background-color: #206676;
	color: #206676;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;  
	width: 100%;
	margin-top: -1.25%;
	margin-left: -1.25%;
	padding-right:1.25%;
	padding-left: 1.25%;
	height: 100px;
	text-align: center;
	font-size: 80px;
}

.post {
	min-height: 30px;
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: ;
}

.post_title {
	font-size: 23px
}

#post_container {
	float:left;
	width: 70%;
	margin-left: 3.7%;
}

#sign_in {
	float: right;
	width: 18%;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-right: 3.7%;
}

#sign_in .titlelg {
	font-size: 23px;
	text-align: center;
}

.centered {
	text-align: center;
}

#flash_notice, #flash_alert {
	color: red;
}

.post_page_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.post_page_author {
	font-size:15px;
	font-weight: normal;
}

#small_container {
	min-width: 350px;
	margin:auto;
	text-align: center;
}

#small_container.left {
	text-align: left;
	margin-left: 50px;
}

#disqus_thread {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px dashed black;
	position: relative;
	bottom: 0px;
	width: 98%;
	min-height: 84px;
}

#disqus_thread.post_ {
	min-height: 113px;
	padding-top: 5px;
	margin-top: 5px;
}

.inline {
	display: inline-block;
	float:left;
}

.comment_avatar {
	margin-right: 10px;
}

.full_wide {
	width: 100%;
	height:130px;
}

.comment_header {
	font-weight: bold;
}

.pa {
	max-width: 350px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display:inline-block;
}

.li {
	max-width: 100px;
}

.fix3 {
	max-width: 500px;
}

#user_activity {
	clear:both;
}

#user_activity ul li {
	margin-left: 20px;
}

.comment_body {
	max-width: 650px
}

.note {
	font-size: 11px
}

.new_post_title {
	width: 296px;
}

.noborder {
	border:none !important;
}