/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

.left {
	float:left;
}

.right {
	float:right;
}

.center {
	text-align: center;
}

nav.center {
	color: red;
	width: 100%;
	position:absolute;
	padding: 10px 15px 10px;
	float:left;
}

body { 
    padding-top: 50px; 
}

input[type='text'], input[type='password'] {
	width: 150px;
	margin-left: 10px;
}

input[type='submit'] {
	margin-left: 10px;
}

nav > ul > li > a {
	display: block;
	padding: 0 25px;
	line-height: 20px;
	height: 20px;
}

.post_title {
	font-weight: bold;
	font-size: 24.7px
}

.post_info {
	width: 150px;
	display:inline-block;
	border-right: 1px solid black;
	padding-right: 20px;
}

div.post_info {
	position:absolute;
}

div.post_content {
	margin-left: 200px;
}

div.post_page_post {
	min-height: 232px;
}

small {
	font-size: 65% !important;
}

.inline {
	display: inline-block;
}

.comment_avatar {
	position:relative;
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
}

.comment_info {
	font-weight: bold;
}

.comment_content {
	width: 770px;
	float:left;
	min-height: 100px;
}

#nested_comments_container {
	clear:both;
	width: 99.8%;
	margin-left:-2.31%;
	background-color: white;
	border: 1px solid #e3e3e3;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 20px;
	margin-bottom: -19px;
}

#nested_comments_container p {
	margin-left: 10px;
}

#ncomment_content {
	width: 700px;
}

.well .close {
	float: right;
	position:relative;
}

.get_me {
	height: 200px !important;
	margin-left:42px !important;
}

#wmd-input {
	width: 800px !important;
}

.comment_actions {
	text-align: center;
}

#post_nav {
	position: fixed;
	left: 0;
	margin-top: 50%;
	padding:5px;
	background-color: whitesmoke;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border: 1px solid #e3e3e3;
}

#post_nav a{
	cursor:pointer;
}

.spalert {
	color: red;
	opacity:0.3;
}

#title_field {
	height: 40px;
	width: 800px;
	font-size: 20px;
	margin-left: 0px;
}

.form {
	text-align: center;
}

.signup_field {
	width: 400px !important;
	height: 30px !important;
	font-size: 20px !important;
}

.user_tabs {
	width: 680px;
}

.user_left {
	max-width: 220px;
}

.user_tabs ul, ul.no-lst {
	list-style-type: none;
}

.admin_pic {
	border: 2px solid black;
}

.current_user_pic {
	border: 2px solid red;
}

.post_author_pic {
	border: 2px solid #0088cc;
}

#plusones a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	text-align: right;
	display: inline-block;
	float: left;
	position: relative;
	color: black;
	opacity: 0.2;
	margin-top: -5px;
	margin-left:5px;
}

#plusones a:hover{
	text-decoration: none;
	opacity: 0.4;
	color:black;
}

#user_social_link::before {
	content: url(link.png);
}

#user_social_icons {
	text-align: center;
}

.required {
	color: red;
}

.user_pluses {
	color: black;
	opacity: 0.4;
}

.ranks_inline {
	width: 40%;
	position:relative;
	display:inline-block;
}

.lmargin {
	margin-left: 2.5%;
}

.rmargin {
	margin-right: 2.5%;
}

.right-aligned {
	text-align: right;
	width: 10%;
	float:right;
	margin-bottom:0px;
}

.ranks li {
	width: 100%;
	float:left;
}

.user-role {
	font-size: 11px;
	background-color: #dedede;
	display: inline-block;
	padding: 0 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.admin {
	width: 550px;
	margin:auto;
}

ul.admin li.admin-in {
	height: 35px;
}

.comment_edit {
	cursor: pointer;
}

.underlay {
	display:none;
	width: 1000%;
	position: absolute;
	height: 100000%;
	background-color: black;
	opacity:0.4;
	margin-left: -200%;
	margin-top: -100%;
}

.overlay.hero-unit {
	display:none;
	background-color: white;
	z-index: 100000000;
	position: fixed;
	margin-top: 50px;
}

.close_overlay {
	position:absolute;
	top:-5px;
	right:-5px;
	cursor:pointer;
}

.comment_raw {
	display:none;
}