<h1>NestedComments#new</h1>
<p>Find me in app/views/nested_comments/new.html.erb</p>
<% if @nestedcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nestedcomment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @nestedcomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>